.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #main-content {
    margin: 0;
  }
  
  #secondary {
    font-size: 12px;
  }